{% extends 'base.html' %}
{% block header %}Assignments{% endblock %}
{% block content %}

        {% for assignment in assignment_list %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <ul>
                        <li><b>Description: </b>{{ assignment.description }}</li>
                        <li><b>Group Name: </b>{{ assignment.group }}</li>
                        <li><b>Due Date: </b>{{ assignment.due_date }}</li>

                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='{{ assignment.id }}'">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>

                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}
<div class="container">
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/groups/{{ group_slug }}/assignments/add'">Add</button>
    </div>
</div>
{% endblock %}