{% extends 'base.html' %}
{% block header %}Group: {{ group.group_name}}{% endblock %}
{% block content %}

<ul>
    <li><b>Group Name: </b>{{ group.group_name }}</li>
    <li><b>Language: </b>{{ group.language }}</li>
    <li><b>Teacher: </b>{{ group.teacher }}</li>
    <li><b>Classroom: </b>{{ group.classroom.room_name }}</li>
    <li><b>Students: </b>
        <ul>
        {% for student in student_list %}
            <li>{{ student }}</li>
    {% endfor %}</ul></li>
</ul>
<div class="container">
    <a href="#">Add assignment</a>
</div>

{% endblock %}