{% extends 'base.html' %}
{% block header %}Teachers{% endblock %}
{% block content %}

        {% for teacher in teacher_list %}

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <ul>
                            <li><b>First Name: </b>{{ teacher.user.first_name }}</li>
                            <li><b>Last Name: </b>{{ teacher.user.last_name }}</li>
                    </ul>
                    <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
{% endfor %}

{% endblock %}